# Ansible
.ansible/
infrastructure/ansible/inventory/
*.cfg
*.retry
*.log
*.ini

# Kubernetes Sensitive Data
*.secret
*.key
*.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars

# Logs
*.log
logs/

# Temp Files
tmp/

# Backup Files
*.bak
*.backup
